@model Products.Domain.Dto.Product.ProductViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="col-12 offset-md-2 col-md-8 row">
        <form id="form" method="post" asp-action="EditDetailsInput" asp-controller="Products" class="col-12">
            <div class="component">
                <div class="card mb-3 mt-3">
                    <div class="card-header text-warning" style="font-size: xx-large">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Edit Product Details</h4>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <input type="text" asp-for="@Model.ProductName" class="form-control" placeholder="name">
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <input type="text" asp-for="@Model.ProductDescription" class="form-control" placeholder="description">
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <input type="text" asp-for="@Model.ProductCode" class="form-control" placeholder="code">
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            @Html.DropDownListFor(x => Model.OrganizationBaseId, new SelectList(Model.Organizations, "Id", "OrganizationName"), htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            @Html.DropDownListFor(x => Model.ProductSubCategoryBaseId, new SelectList(Model.SubCategories, "SubCategoryId", "SubCategoryName"), htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <input type="text" asp-for="@Model.ProductNetPrice" class="form-control" placeholder="netPrice">
                        </div>
                    </div>
                    <div class="row mx-4 text-white">
                        <button id="addProduct" type="submit" class="btn btn-primary col-md-5 mt-5">Edit Details</button>
                        <div class="col-1 mr-4"></div>
                        <a href="/Products/Index" class="btn btn-primary col-md-5 mt-5">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/js/tinymcSetup.js" asp-append-version="true"></script>
}